extends ../layout

block content
	table(class="pure-table")
		thead
			tr
				th id
				th name
				th ZookeeperId
		tbody
			each exhibit, index in Exhibits
				tr(class=(index % 2 == 0) ? 'pure-table-even' : 'pure-table-odd')
					td
						a(href="/view/exhibit/#{exhibit.id}") #{exhibit.id}
					td
						a(href="/view/exhibit/#{exhibit.id}") #{exhibit.name}
					td
						a(href="/view/exhibit/#{exhibit.id}") #{exhibit.ZookeeperId}
