extends ../layout

block header
	include ../header/header

block sidebar
	include ../sidebar/sidebar

block content
	div(class="content")
		table(class="pure-table custom-table")
			thead
				tr
					th id
					th name
					th ZookeeperId
			tbody
				each exhibit, index in Exhibits
					tr(class=(index % 2 == 0) ? 'pure-table-even' : 'pure-table-odd')
						td
							a(href="/exhibit/#{exhibit.id}") #{exhibit.id}
						td
							a(href="/exhibit/#{exhibit.id}") #{exhibit.name}
						td
							a(href="/exhibit/#{exhibit.id}") #{exhibit.ZookeeperId}
