extends ../layout

block content
	table(class="pure-table")
		thead
			tr
				th id
				th first_name
				th last_name
				th phone
				th work_days
				th ZooId
		tbody
			each zooKeeper, index in Zookeepers
				tr(class=(index % 2 == 0) ? 'pure-table-even' : 'pure-table-odd')
					td
						a(href="/view/zookeeper/#{zooKeeper.id}") #{zooKeeper.id}
					td
						a(href="/view/zookeeper/#{zooKeeper.id}") #{zooKeeper.first_name}
					td
						a(href="/view/zookeeper/#{zooKeeper.id}") #{zooKeeper.last_name}
					td
						a(href="/view/zookeeper/#{zooKeeper.id}") #{zooKeeper.phone}
					td
						a(href="/view/zookeeper/#{zooKeeper.id}") #{zooKeeper.work_days}
					td
						a(href="/view/zookeeper/#{zooKeeper.id}") #{zooKeeper.ZooId}