doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/css/form.css')
      link(rel='stylesheet', href='/components/pure/pure-min.css')
      link(rel='stylesheet', href='/components/jquery-ui/themes/base/datepicker.css')
      link(rel='stylesheet', href='/components/jquery-ui/themes/base/theme.css')
      link(rel='stylesheet', href='/css/header.css')
      link(rel='stylesheet', href='/css/common.css')
      link(rel='stylesheet', href='/css/animal-profile.css')
      block extraCss
    block js
      script(src='http://localhost:35729/livereload.js')
      script(src='/components/jquery/dist/jquery.min.js')
      script(src='/components/moment/moment.js')
      script(src='/components/jquery-ui/jquery-ui.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js')
      script(src='/js/profile.js')
      script(src='/js/search.js')
  body
    block header
      include header
    div(class="main")
      block content
        div(class="profile-container")
          div(class="profile-top")
            div(class="profile-left")
              img(class="profile-picture" src="#{animal.picture_url}")
              span(class="name") #{animal.given_name}
            div(class="profile-right")
              div
                span(class="category") ID: 
                span(id="animalId" class="value") #{animal.id}
              div
                span(class="category") Weight: 
                span(class="value") #{animal.weight}
              div
                span(class="category") Gender: 
                span(class="value") #{animal.gender}
              div
                span(class="category") Scientific Name: 
                span(class="value") #{species.scientific_name}
              div
                span(class="category") Common Name: 
                span(class="value") #{species.common_name}
              div
                span(class="category") Exhibit: 
                span(class="value") #{exhibit.name}
            div(class="profile-middle")
              h4 Description
              p #{species.description}
          div(class="profile-bottom")
            div(class="graph")

