extends ../layout

block content
	table(class="pure-table")
		thead
			tr
				th id
				th given_name
				th weight
				th picture
				th birth_date
				th gender
		tbody
			each animal, index in Animals
				tr(class=(index % 2 == 0) ? 'pure-table-even' : 'pure-table-odd')
					td #{animal.id}
					td #{animal.given_name}
					td #{animal.weight}
					td #{animal.picture}
					td #{animal.birth_date}
					td #{animal.gender}

