extends ../layout

block content
	form(class="custom-form update-form pure-form pure-form-stacked")
		h1 Animal Form
		fieldset
			label(for="given_name") Given Name
			input(name="given_name", type="text", placeholder="Mr. Whiskers" value="#{animal.given_name}")
			label(for="weight") Weight (lbs.)
			input(name="weight", type="number", placeholder="135" value="#{animal.weight}")
			label(for="picture_url") Picture URL
			input(name="picture_url", type="text", placeholder="http://coolpicture.com/123abc" value="#{animal.picture_url}")
			label(for="birth-date") Birth Date
			input(name="birth-date", type="text", placeholder="November 10, 1992" value="#{animal.birth_date}")
			label(for="gender") Gender
			select(name="gender")
				option(value="male") Male
				option(value="female") Female
			input(type="hidden" name="_entity" value="animal")
			input(type="hidden" name="_id" value="#{animal.id}")
		button(type="submit" class="pure-button pure-button-primary") Save
	button(id="delete" class="pure-button button-error") Delete