extends ../layout

block content
	table(class="pure-table")
		thead
			tr
				th id
				th name
				th phone
				th street
				th city
				th state
				th zip
				th country
				th opening_time
				th closing_time
		tbody
			each zoo, index in Zoos
				tr(class=(index % 2 == 0) ? 'pure-table-even' : 'pure-table-odd')
					td
						a(href="/view/zoo/#{zoo.id}") #{zoo.id}
					td
						a(href="/view/zoo/#{zoo.id}") #{zoo.name}
					td
						a(href="/view/zoo/#{zoo.id}") #{zoo.phone}
					td
						a(href="/view/zoo/#{zoo.id}") #{zoo.street}
					td
						a(href="/view/zoo/#{zoo.id}") #{zoo.city}
					td
						a(href="/view/zoo/#{zoo.id}") #{zoo.state}
					td
						a(href="/view/zoo/#{zoo.id}") #{zoo.zip}
					td
						a(href="/view/zoo/#{zoo.id}") #{zoo.country}
					td
						a(href="/view/zoo/#{zoo.id}") #{zoo.opening_time}
					td
						a(href="/view/zoo/#{zoo.id}") #{zoo.closing_time}
