extends ../layout

block content
	table(class="pure-table custom-table")
		thead
			tr
				th id
				th name
				th time
				th ExhibitId
		tbody
			each show, index in Shows
				tr(class=(index % 2 == 0) ? 'pure-table-even' : 'pure-table-odd')
					td
						a(href="/view/show/#{show.id}") #{show.id}
					td
						a(href="/view/show/#{show.id}") #{show.name}
					td
						a(href="/view/show/#{show.id}") #{show.time}
					td
						a(href="/view/show/#{show.id}") #{show.ExhibitId}
