extends ../layout

block content
	table(class="pure-table custom-table")
		thead
			tr
				th id
				th Zoo CustomerId
				th ZooId
		tbody
			each zooMembership, index in ZooMemberships
				tr(class=(index % 2 == 0) ? 'pure-table-even' : 'pure-table-odd')
					td
						a(href="/zoo-membership/#{zooMembership.id}") #{zooMembership.id}
					td
						a(href="/zoo-membership/#{zooMembership.id}") #{zooMembership['Zoo CustomerId']}
					td
						a(href="/zoo-membership/#{zooMembership.id}") #{zooMembership.ZooId}